.body {
    background-color: white;
}
h2 {
   color: #4F83FF;
}
.text-column {
    height: 200px;
    flex: 2;
    padding: 0px 40px;
}
.button-column {
    height: 50px;
    flex: 2;
}
.img-column {
   height: 200px;
   flex: 1
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
}